/**
* colors
**/
$--color-primary: #24526d;
$--color-active: #c17044;
$--color-secondary: #0d1c29;
$--color-bright-orange: #f0d7ab;

/**
* breakpoints
**/
$--breakpoints-xs: 600px;
$--breakpoints-sm: 960px;
$--breakpoints-md: 1264px;
$--breakpoints-lg: 1904px;

/* device */
$--breakpoints-mobile-xs: 320px;
$--breakpoints-tablet: 768px;
$--breakpoints-ipad-pro: 1024px;
